/* "Inter" font from google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Some Common CSS for Landing page start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html,
body {
    overflow-x: hidden;
}
img {
    width: 100%;
    height: 100%;
    display: flex;
}
a,
a:hover {
    text-decoration: none;
    /* color: var(--dark-color); */
}
ul,
ol,
li {
    list-style: none;
}
/* Some Common CSS for Landing page end here */

/* Some roots start here */
:root{
    --dark-color: #1a1423;
    --light-color: #fdfffc;
    --accent-color: #7161ef;
}
/* Some roots end here */
/* Some shared CSS stert from here */
.container {
    max-width: 1200px;
    margin: auto;
}
.btn-primary,
.btn-secondary {
    background-color: var(--accent-color);
    color: var(--light-color);
    text-transform: capitalize;
    border: 2px solid var(--accent-color);
    padding: 8px 32px;
    display: inline-block;
    font-weight: 500;
    transition: all 300ms ease;
    &:hover {
        background-color: #5947de;
        color: var(--light-color);
        border: none;
    }
}
.btn-secondary {
    color: var(--accent-color);
    background: var(--light-color);
}
p {
    font-size: 1rem;
    line-height: 160%;
}
.section-title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 8px 0;
    text-transform: capitalize;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.section-con-title {
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: -1px;
    margin: 8px 0;
}
section {
    padding: 120px 0;
}
/* Some shared CSS end here */
/* Header part CSS start from here */

/* Nav part CSS start from here */
nav {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    z-index: 5;
    padding: 16px 32px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 42px rgba(0, 0, 0, 0.1);
}
.logo {
    font-weight: 700;
    font-size: 1.25rem;
}
nav .nav-items ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav .nav-items ul li a {
    font-weight: 500;
    display: inline-block;
    transition: all 300ms ease;
    &:hover {
        color: var(--accent-color);
    }
}
nav .nav-items .btn-primary:hover {
    color: var(--light-color);
}
/* Nav part CSS end here */

/* Header part CSS end here */

/* Banner part CSS start from here */
.banner {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 70px;
    min-height: 600px;
    max-height: 800px;
    position: relative;
}
.banner .banner-content {
    max-width: 50%;
}
.banner .banner-content .banner-title {
    font-size: 3.75rem;
    line-height: 100%;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 16px 0;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.banner-btn-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.banner .banner-img {
    max-width: 505;
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner .banner-img img{
    height: 600px;
    object-fit: cover;
}
.bg-color {
    position: absolute;
    top: 120px;
    right: 0;
    height: 400px;
    width: 400px;
    background: #ad95ff;
    border-radius: 50%;
    z-index: -1;
    filter: blur(115px);
}
/* Banner part CSS end here */
/* Feature section CSS start from here */
.featured {
    z-index: 1;
    position: relative;
}
.featured .featured-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 40px 32px;
    box-shadow: 0 0 42px -20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: var(--light-color);
}
.featured img {
    width: auto;
    height: 32px;
}
.featured .featured-img-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;\
}
/* Feature section CSS end here */
/* About section CSS start from here */
#about {
    background: #f5f5f5;
    margin-top: -60px;
    padding-top: 120px;
}
#about .container {
    display: flex;
    align-items: center;
    gap: 80px;
}
section .icon {
    width: 30px;
}
.about-con-container {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}
.feature {
    flex: 1;
}
.about-con .btn-secondary{
    margin-top: 28px;
}
/* About section CSS end here */